AI_Agency_Contact_Form.json
{
  "name": "AI Agency Contact Form",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f06435e0-12e5-4f57-8a9a-b23bb93c58a1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7b13588f-603d-4aaa-8a4f-7e977df88aa8",
      "name": "Webhook",
      "webhookId": "f06435e0-12e5-4f57-8a9a-b23bb93c58a1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11BIKjY9nn3yDhZc-qOD46LlCST5QlbWPhdpMnpodhls",
          "mode": "list",
          "cachedResultName": "Pavi AI Agency",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11BIKjY9nn3yDhZc-qOD46LlCST5QlbWPhdpMnpodhls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11BIKjY9nn3yDhZc-qOD46LlCST5QlbWPhdpMnpodhls/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json.body.name }}",
            "Email Address": "={{ $json.body.email }}",
            "Company Name": "={{ $json.body.company }}",
            "Service Interest": "={{ $json.body.service }}",
            "Message": "={{ $json.body.message }}",
            "Phone": "={{ $json.body.phone }}",
            "Whatsapp": "={{ $json.body.whatsapp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service Interest",
              "displayName": "Service Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "2a6b5a73-d85d-4c0f-98c2-ef3b0c939dc9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aSaXGAiTi2elcm1q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Address'] }}",
        "subject": "Thank You for Contacting Us!",
        "emailType": "text",
        "message": "=Hi {{ $json['Full Name'] }}\n\nThank you for getting in touch with us! We have received your message and will get back to you soon.\n\nHere’s what you submitted:\n- Service Interest: {{ $json['Service Interest'] }}\n- Message: {{ $json.Message }}\n\nIf you have any urgent queries, feel free to reply to this email.\n\nBest regards,  \nASAP AI Agency\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        -100
      ],
      "id": "a7449449-4a95-43f7-9fad-2edb64942650",
      "name": "Email to Client",
      "webhookId": "6b85dc17-ae68-412f-adc6-2351e7c79d5d",
      "credentials": {
        "gmailOAuth2": {
          "id": "JkJKNhUgR7XQPhZV",
          "name": "alphaautumn@"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "alphaautumn@gmail.com",
        "subject": "=New Contact Form Submission from {{ $json['Full Name'] }}",
        "emailType": "text",
        "message": "=Hello Team,\n\nA new contact form has been submitted. Here are the details:\n\n- Name: {{ $json['Full Name'] }}\n- Email: {{ $json['Email Address'] }}\n- Phone: {{ $json['Phone'] }}\n- Whatsapp: {{ $json['Whatsapp'] }}\n- Company: {{ $json['Company Name'] }}\n- Service Interest: {{ $json['Service Interest'] }}\n- Message: {{ $json.Message }}\n\nPlease follow up as needed.\n\n- Submitted At: {{ $now }}\n\nBest,  \nPajo\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        140
      ],
      "id": "7bfb1800-4b56-449a-972c-edf35881b124",
      "name": "Email to Team",
      "webhookId": "0a2a540a-0e3f-4b87-9c42-a718b8eaefaa",
      "credentials": {
        "gmailOAuth2": {
          "id": "JkJKNhUgR7XQPhZV",
          "name": "alphaautumn@"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Email to Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email to Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email to Client": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "85c4a42b-1450-4dc5-95a3-f77afb804f67",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf9c2e525e453214885f3512ffdb4b61472e916558550adfb7420c548079e731"
  },
  "id": "NUkML4kO2zsS1ulD",
  "tags": []
}