CustomerSupport_Agent___Outskill_Day_4.json
{
  "name": "CustomerSupport Agent | Outskill Day 4",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1080,
        20
      ],
      "id": "7d709fae-8746-46cf-b1d4-3254b9ba4d13",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "715db9fb-f07d-4304-a75d-7b73711bd297",
              "name": "senderEmail",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "210264bf-9b52-49fb-8a8f-27d677bb4bf8",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "1df80403-b039-40b8-a140-c021f2e2aef6",
              "name": "emailBody",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "5961f3ff-e22e-4cbb-9a7f-e093ac54e210",
              "name": "threadID",
              "value": "={{ $json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -860,
        20
      ],
      "id": "bbf9a72f-7105-4b39-9424-624297e59574",
      "name": "Imp Vars"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the content of the incoming email and determine wether its related to customer support or not.\n\nIf the email is related to any of the following topics, mark customerSupport as true otherwise mark it as false.\n\nCustomer support topics include:\n- Questions about order status, tracking, or changes\n- Refund or return requests\n- Subscription cancellations or adjustments\n- Technical issues withproducts, website or app\n- Payment or billing inquiries\n- Requests for speaking with a support representative.\n\n\n{\n\"customerSupport\": True/False\n}\n\nOutput: Provide the result in JSON format with a field named \"customerSupport\" set to true or false.",
              "role": "system"
            },
            {
              "content": "=Here is the incoming email - \n\nSubject -  {{ $json.subject }}\nBody - {{ $json.emailBody }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -660,
        20
      ],
      "id": "236c0075-8c41-4e20-accc-08b21f2fd285",
      "name": "Message a model"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.customerSupport }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "2e79a9fe-8c10-440f-bafa-a3cd0a9c2269"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5c2a6928-6381-4f0b-8702-06b495eae07f",
                    "leftValue": "={{ $json.message.content.customerSupport }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Customer Support"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -300,
        20
      ],
      "id": "07cdde5d-b066-410e-acfd-a6be910abd3c",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        260
      ],
      "id": "f61cd90f-c294-40ff-98b3-f48c83d9ca83",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -860,
        360
      ],
      "id": "ad42354c-b3e5-4685-b3e2-3a3a2bade4f6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -660,
        560
      ],
      "id": "32bb26f7-e114-48be-ab1c-f470e39d9f36",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -520,
        560
      ],
      "id": "02ab232b-f818-4fa3-9c69-f7797925b9d7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -520,
        740
      ],
      "id": "56b5c3bd-3b0e-480b-a71b-7c3d1271eb74",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1060,
        360
      ],
      "id": "1363ac76-4ee0-400c-bb16-accfbbaaef55",
      "name": "When chat message received",
      "webhookId": "260e2a90-9bc3-4871-8533-3b54fe57ea3c"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "outskill-day4-csbot",
          "mode": "list",
          "cachedResultName": "outskill-day4-csbot"
        },
        "options": {
          "pineconeNamespace": "ecom-policy"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -660,
        360
      ],
      "id": "84da5972-7ba2-415d-b4ab-3986b30969a7",
      "name": "Pinecone Push Docs"
    },
    {
      "parameters": {
        "content": "## Push Docs To Pinecone",
        "height": 624,
        "width": 1184,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        300
      ],
      "typeVersion": 1,
      "id": "fce8a742-5e26-42f1-8cc1-ac1afec9765f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "outskill-day4-csbot",
          "mode": "list",
          "cachedResultName": "outskill-day4-csbot"
        },
        "options": {
          "pineconeNamespace": "ecom-policy"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        500,
        560
      ],
      "id": "67e09583-e80b-441d-b97c-69b756f56912",
      "name": "Pinecone Vector Store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        820,
        560
      ],
      "id": "0059d685-1b4b-4194-9b59-6087055e0a17",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        720
      ],
      "id": "c1ba4785-ea56-4863-a0e1-ba52c8852f48",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "content": "",
        "height": 512,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        360
      ],
      "typeVersion": 1,
      "id": "84f48f14-9d9c-49ec-95f9-33faf30b91f8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "description": "Extracting relevant information from policies and FAQs to answer customer requests."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        600,
        400
      ],
      "id": "d515ddb0-9752-41a2-99b3-cc304fd21a98",
      "name": "cs_knowledgebase"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "threadId": "={{ $('Imp Vars').item.json.threadID }}",
          "sendTo": "={{ $('Imp Vars').item.json.senderEmail }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        140,
        260
      ],
      "id": "0f52153f-9e4e-4da3-ada8-f93f5e0aa898",
      "name": "CreateDraft",
      "webhookId": "873ea499-9332-4717-bcbd-aed7f6576dff"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "bc433521-8aef-4134-aa9f-29bef597624e",
      "name": "Discord",
      "webhookId": "7015e819-41b6-49ae-91e5-5dc93f30ca41"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ],
      "id": "5eea8566-969c-494d-9a7f-5110b10f1809",
      "name": "AI Agent"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19860f54c92870d4",
          "threadId": "19860f527bda16d1",
          "snippet": "Hi, I have received a defective product, what is your retur / refund policy?",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 1048,
          "historyId": "2164270",
          "internalDate": "1753973345000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "Subject": "what is the refund / return policy?",
          "From": "AlphaAutumn <alphaautumn@gmail.com>",
          "To": "AlphaAutumn <alphaautumn@gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Imp Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imp Vars": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Push Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Push Docs",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Push Docs",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "cs_knowledgebase",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "cs_knowledgebase",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CreateDraft": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cs_knowledgebase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da2719da-e903-433e-8a97-6b8343042398",
  "meta": {
    "instanceId": "cf9c2e525e453214885f3512ffdb4b61472e916558550adfb7420c548079e731"
  },
  "id": "190vSX42VBCo4q6S",
  "tags": []
}