Party_Tix_System.json
{
  "name": "Party Tix System",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VL-NDhKsjT9FpkO17rEYSfylkUUGn7hnqzZ_qvCs4JQ",
          "mode": "list",
          "cachedResultName": "party_tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VL-NDhKsjT9FpkO17rEYSfylkUUGn7hnqzZ_qvCs4JQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1437156596,
          "mode": "list",
          "cachedResultName": "party_tickets.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VL-NDhKsjT9FpkO17rEYSfylkUUGn7hnqzZ_qvCs4JQ/edit#gid=1437156596"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "QR_Link": "={{ $json.body.qr_link }}",
            "Gender": "={{ $json.body.gender }}",
            "Email": "={{ $json.body.email }}",
            "Scanned": "={{ $json.body.scanned }}",
            "QR_ID": "={{ $json.body.qr_id }}",
            "Name": "={{ $json.body.name }}",
            "Created_At": "={{ $json.body.created_at }}",
            "Phone_No": "={{ $json.body.phone }}",
            "After_Party": "={{ $json.body.after_party }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "QR_ID",
              "displayName": "QR_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QR_Link",
              "displayName": "QR_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone_No",
              "displayName": "Phone_No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "After_Party",
              "displayName": "After_Party",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Scanned",
              "displayName": "Scanned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scanned_At",
              "displayName": "Scanned_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created_At",
              "displayName": "Created_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "d781afe8-3456-4ce6-8cb9-6075821221af",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aSaXGAiTi2elcm1q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3fa92214-9163-48c6-93f9-1e1e81f7d605",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "21abdd00-aaa7-4c7e-a442-b9ca5dc17ba8",
      "name": "QR Generate",
      "webhookId": "3fa92214-9163-48c6-93f9-1e1e81f7d605"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "84219097-cf49-4b76-9852-9c4aeb6c391b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        280
      ],
      "id": "0be01577-73cc-40d0-9688-a6718f74a2e5",
      "name": "QR Scan",
      "webhookId": "84219097-cf49-4b76-9852-9c4aeb6c391b"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1VL-NDhKsjT9FpkO17rEYSfylkUUGn7hnqzZ_qvCs4JQ",
          "mode": "list",
          "cachedResultName": "party_tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VL-NDhKsjT9FpkO17rEYSfylkUUGn7hnqzZ_qvCs4JQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1437156596,
          "mode": "list",
          "cachedResultName": "party_tickets.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VL-NDhKsjT9FpkO17rEYSfylkUUGn7hnqzZ_qvCs4JQ/edit#gid=1437156596"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "QR_ID": "={{ $json.body.qr_id }}",
            "Scanned": "={{ $json.body.scanned }}",
            "Scanned_At": "={{ $json.body.scanned_at }}"
          },
          "matchingColumns": [
            "QR_ID"
          ],
          "schema": [
            {
              "id": "QR_ID",
              "displayName": "QR_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QR_Link",
              "displayName": "QR_Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone_No",
              "displayName": "Phone_No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "After_Party",
              "displayName": "After_Party",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Scanned",
              "displayName": "Scanned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Scanned_At",
              "displayName": "Scanned_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created_At",
              "displayName": "Created_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        280
      ],
      "id": "b0ae6a83-a985-44f1-9ed5-5a52cecaa364",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aSaXGAiTi2elcm1q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f816644f-b5fb-4c8d-806c-de1c78ec3416",
              "leftValue": "={{ $json.After_Party }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        420,
        0
      ],
      "id": "5becbb84-5f4c-4044-8fe9-c1f1d12bac2b",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Welcome To The Freshers!",
        "message": "=<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Cintrex Freshers Party Ticket</title>\n    <style>\n      body {\n        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n        background-color: #f2f8fd;\n        padding: 20px;\n        color: #333;\n      }\n\n      .container {\n        max-width: 600px;\n        margin: auto;\n        background-color: #ffffff;\n        padding: 30px;\n        border-radius: 12px;\n        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\n      }\n\n      h2 {\n        font-size: 24px;\n        color: #3a76c4;\n        margin-bottom: 10px;\n      }\n\n      p {\n        font-size: 16px;\n        line-height: 1.6;\n        margin: 10px 0;\n      }\n\n      .highlight {\n        font-weight: bold;\n        color: #2c3e50;\n      }\n\n      .section {\n        margin-top: 25px;\n        padding-top: 15px;\n        border-top: 1px solid #ddd;\n      }\n\n      a {\n        color: #1a0dab;\n        text-decoration: underline;\n      }\n\n      .qr-code {\n        margin: 20px 0;\n        text-align: center;\n      }\n\n      .qr-code img {\n        width: 200px;\n        height: 200px;\n        border: 2px solid #3a76c4;\n        border-radius: 8px;\n      }\n\n      .footer {\n        margin-top: 35px;\n        font-size: 13px;\n        color: #003366 !important;\n        text-align: center;\n        font-weight: bold;\n        border: 2px solid #3a76c4;\n        border-radius: 10px;\n        padding: 12px;\n      }\n\n      .footer a {\n        color: #1a0dab;\n        text-decoration: underline;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h2>🎉 Welcome To Cintrex Events, {{ $json.Name }}!</h2>\n      <p>You're officially on the list! Present this QR code at the entry for an unforgettable night.</p>\n\n      <div class=\"qr-code\">\n        <img src=\"{{ $json.QR_Link }}\" alt=\"Your Ticket QR Code (One time use)\" />\n      </div>\n\n      <div class=\"section\">\n        <p><span class=\"highlight\">Event:</span> Freshers Party</p>\n        <p><span class=\"highlight\">Date:</span> August 23, 2025</p>\n        <p><span class=\"highlight\">Time:</span> 4:00 PM onwards</p>\n        <p><span class=\"highlight\">Venue:</span> The Mills B Wing, 2nd Floor,<br />\n          Raja Bahadur Mills, Station Rd,<br />\n          Behind Sheraton Grand Pune Bund Garden Hotel,<br />\n          Pune, Maharashtra 411001</p>\n      </div>\n\n      <div class=\"section\">\n        <p><strong>📸 Follow our Instagram page for more exciting events:</strong><br />\n          <a href=\"https://www.instagram.com/cintrex.inc?igsh=MTd3NmM3OXM0N2FqNg==\">https://www.instagram.com/cintrex.inc</a>\n        </p>\n        <p><strong>📱 Join our WhatsApp group for further details:</strong><br />\n          <a href=\"https://chat.whatsapp.com/HJMnAalJlg6IMlbREJbhYE?mode=ac_t\">https://chat.whatsapp.com/HJMnAalJlg6IMlbREJbhYE</a>\n        </p>\n      </div>\n\n      <div class=\"footer\">\n        Ticket System Developed By Pajo\n        (<a href=\"tel:+919340869471\">+91 9340869471</a>, \n        <a href=\"https://www.linkedin.com/in/pavitar-arneja/\">LinkedIn</a>)\n      </div>\n    </div>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        -120
      ],
      "id": "4c65020a-33c6-42f4-af17-b9545b8e61bf",
      "name": "No After Party",
      "webhookId": "2cd4906e-a312-4249-add8-e4d17e9c2346",
      "credentials": {
        "gmailOAuth2": {
          "id": "JkJKNhUgR7XQPhZV",
          "name": "alphaautumn@"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Welcome To The Freshers & After Party!",
        "message": "=<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Cintrex Freshers Party Ticket</title>\n    <style>\n      body {\n        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n        background-color: #f2f8fd;\n        padding: 20px;\n        color: #333;\n      }\n\n      .container {\n        max-width: 600px;\n        margin: auto;\n        background-color: #ffffff;\n        padding: 30px;\n        border-radius: 12px;\n        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\n      }\n\n      h2 {\n        font-size: 24px;\n        color: #3a76c4;\n        margin-bottom: 10px;\n      }\n\n      p {\n        font-size: 16px;\n        line-height: 1.6;\n        margin: 10px 0;\n      }\n\n      .highlight {\n        font-weight: bold;\n        color: #2c3e50;\n      }\n\n      .section {\n        margin-top: 25px;\n        padding-top: 15px;\n        border-top: 1px solid #ddd;\n      }\n\n      a {\n        color: #1a0dab;\n        text-decoration: underline;\n      }\n\n      .qr-code {\n        text-align: center;\n        margin: 20px 0;\n      }\n\n      .qr-code img {\n        width: 220px;\n        height: 220px;\n        object-fit: contain;\n        border: 1px solid #ccc;\n        border-radius: 10px;\n        padding: 10px;\n        background-color: #fefefe;\n      }\n\n      .footer {\n        margin-top: 35px;\n        font-size: 13px;\n        color: #888;\n        text-align: center;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h2>🎉 Welcome To Cintrex Events, {{ $json.Name }}!</h2>\n      <p>You're officially on the list! Present this QR code at the entry for an unforgettable night.</p>\n\n      <div class=\"qr-code\">\n        <p class=\"highlight\">Your Ticket QR Code (One Time Use)</p>\n        <img src=\"{{ $json.QR_Link }}\" alt=\"Your Ticket QR Code\" />\n      </div>\n\n      <div class=\"section\">\n        <p><span class=\"highlight\">Event:</span> Freshers Party</p>\n        <p><span class=\"highlight\">Date:</span> August 23, 2025</p>\n        <p><span class=\"highlight\">Time:</span> 4:00 PM onwards</p>\n        <p><span class=\"highlight\">Venue:</span> Kiki, The Mills B Wing, 2nd Floor,<br />\n          Raja Bahadur Mills, Station Rd,<br />\n          Behind Sheraton Grand Pune Bund Garden Hotel,<br />\n          Pune, Maharashtra 411001</p>\n      </div>\n\n      <div class=\"section\">\n        <p><strong>📸 Follow our Instagram page for more exciting events:</strong><br />\n          <a href=\"https://www.instagram.com/cintrex.inc?igsh=MTd3NmM3OXM0N2FqNg==\">https://www.instagram.com/cintrex.inc</a>\n        </p>\n        <p><strong>📱 Join our WhatsApp group for further details:</strong><br />\n          <a href=\"https://chat.whatsapp.com/HJMnAalJlg6IMlbREJbhYE?mode=ac_t\">https://chat.whatsapp.com/HJMnAalJlg6IMlbREJbhYE</a>\n        </p>\n\n<p><strong> After Party At EPITOME!! 🎉 Under Wassim Guestlist 🍾</strong></p>\n\n<div class=\"footer\">\n        Ticket System Developed By Pajo\n        (<a href=\"tel:+919340869471\">+91 9340869471</a>, \n        <a href=\"https://www.linkedin.com/in/pavitar-arneja/\">LinkedIn</a>)\n      </div>\n      </div>\n    </div>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        140
      ],
      "id": "d5ae592d-6da1-41f0-baff-ccd75982ec12",
      "name": "Yes After Party",
      "webhookId": "2b29e2a6-0a30-49c0-9184-136e84f5ed9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "JkJKNhUgR7XQPhZV",
          "name": "alphaautumn@"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR Generate": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QR Scan": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "No After Party",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Yes After Party",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c946e9e-ac47-4512-82c2-ad0450b48d01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf9c2e525e453214885f3512ffdb4b61472e916558550adfb7420c548079e731"
  },
  "id": "lf8mLUYDqd0wQrkW",
  "tags": []
}