RestaurantOS.json
{
  "name": "RestaurantOS",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$('Register').first().json.body.email }}",
                    "rightValue": "={{ $json.Email }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "80219fe5-e596-4058-b6ca-1f5ec53882c7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "948ac0e7-6541-412e-b7e5-9576decb9305",
                    "leftValue": "={{$('Register').first().json.body.email }}",
                    "rightValue": "={{ $json.Email }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        0
      ],
      "id": "9ca3ff58-8c1a-449e-bd5b-7558a967eb3d",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "650f8110-83d7-428a-b0fa-664708d357d1",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "={{ $('Login').item.json.body.email }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "96614496-606b-4479-91af-15f6fbdb3339",
              "leftValue": "={{ $json['otp '] }}",
              "rightValue": "={{ $('Login').item.json.body.otp }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        360
      ],
      "id": "233d74b8-86f5-477e-84c2-e6ae30dc9e95",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "email already registered",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        700,
        -80
      ],
      "id": "dc665c9c-6bab-4e82-a05e-f539800a3eb4",
      "name": "Email Already Exists"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15bFeCcrHjpyyKQoj84LbWJYyKDtbAVe-3p7xwauuavA",
          "mode": "list",
          "cachedResultName": "Website DB: Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15bFeCcrHjpyyKQoj84LbWJYyKDtbAVe-3p7xwauuavA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15bFeCcrHjpyyKQoj84LbWJYyKDtbAVe-3p7xwauuavA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "77d469cc-b558-425f-9a35-5be747829a5e",
      "name": "Look For Existing User Email",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15bFeCcrHjpyyKQoj84LbWJYyKDtbAVe-3p7xwauuavA",
          "mode": "list",
          "cachedResultName": "Website DB: Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15bFeCcrHjpyyKQoj84LbWJYyKDtbAVe-3p7xwauuavA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15bFeCcrHjpyyKQoj84LbWJYyKDtbAVe-3p7xwauuavA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Register').item.json.body.user_id }}",
            "Email": "={{ $('Register').item.json.body.email }}",
            "Name ": "={{ $('Register').item.json.body.name }}",
            "otp ": "={{ $('Register').item.json.body.otp }}",
            "verified ": "={{ $('Register').item.json.body.verified }}",
            "created_at": "={{ $('Register').item.json.body.created_at }}",
            "current_role": "={{ $('Register').item.json.body.current_role }}",
            "target_role": "={{ $('Register').item.json.body.target_role }}",
            "skills ": "={{ $('Register').item.json.body.skills }}",
            "bio": "={{ $('Register').item.json.body.bio }}",
            "location": "={{ $('Register').item.json.body.location }}",
            "career_goals": "={{ $('Register').item.json.body.career_goals }}",
            "profile_complete ": "={{ $('Register').item.json.body.profile_complete }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "otp ",
              "displayName": "otp ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "verified ",
              "displayName": "verified ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_role",
              "displayName": "current_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_role",
              "displayName": "target_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skills ",
              "displayName": "skills ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "career_goals",
              "displayName": "career_goals",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_complete ",
              "displayName": "profile_complete ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1100,
        100
      ],
      "id": "7cff8511-91d5-4e56-8dda-d8216d277c21",
      "name": "Register Details"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Register').item.json.body.email }}",
        "subject": "Your Outliers OTP Code",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #8B5CF6;\">Welcome to Outliers!</h2>\n  <p>Hi {{ $('Register').item.json.body.name }} ,</p>\n  <p>Your verification code is:</p>\n  <div style=\"background: #f8f9fa; padding: 20px; text-align: center; border-radius: 8px; margin: 20px 0;\">\n    <h1 style=\"color: #8B5CF6; font-size: 32px; margin: 0;\">{{ $('Register').item.json.body.otp }}</h1>\n  </div>\n  <p>Best regards,<br>The Outliers Team</p>\n</div>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        900,
        100
      ],
      "id": "646181f0-dd30-4fd4-9aec-39317acbbce0",
      "name": "Send OTP",
      "webhookId": "6115f66a-c5af-4bd5-82a5-cc0fcc84845f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6984473e-093f-4cee-9ec6-65afbb4f7678",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "1f7adfbb-bfbe-44fa-891e-0cff0aceb01d",
      "name": "Register",
      "webhookId": "6984473e-093f-4cee-9ec6-65afbb4f7678"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ede7ebb9-fe29-4f4c-8a97-8a264b59dc50",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        360
      ],
      "id": "c7a128d0-bdc9-4cbd-b719-52b0ab308326",
      "name": "Login",
      "webhookId": "ede7ebb9-fe29-4f4c-8a97-8a264b59dc50"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15bFeCcrHjpyyKQoj84LbWJYyKDtbAVe-3p7xwauuavA",
          "mode": "list",
          "cachedResultName": "Website DB: Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15bFeCcrHjpyyKQoj84LbWJYyKDtbAVe-3p7xwauuavA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "User",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15bFeCcrHjpyyKQoj84LbWJYyKDtbAVe-3p7xwauuavA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        360
      ],
      "id": "d22bbfea-0e17-4a93-b510-ef57347952a0",
      "name": "Look For Email & OTP Details"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Credentials Match",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        320
      ],
      "id": "01c1a1c3-7599-4a3c-be6c-38548ad212ee",
      "name": "Login True (Creds Match)"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Credentials Do Not Match",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        500
      ],
      "id": "383510d4-3ffc-4ed5-801a-48ecc1d9afad",
      "name": "Login False (Creds Don't Match)"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Welcome to The Outliers <3 Please save it as it's your permanent password. ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        700,
        100
      ],
      "id": "949426cd-cdf6-4225-a254-bc57c8da91b1",
      "name": "Display Msg"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Email Already Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Display Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Login True (Creds Match)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Login False (Creds Don't Match)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Look For Existing User Email": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Details": {
      "main": [
        []
      ]
    },
    "Send OTP": {
      "main": [
        [
          {
            "node": "Register Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register": {
      "main": [
        [
          {
            "node": "Look For Existing User Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Look For Email & OTP Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Look For Email & OTP Details": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Display Msg": {
      "main": [
        [
          {
            "node": "Send OTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6cd22be4-7507-4248-8a71-5a4ee9676d25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf9c2e525e453214885f3512ffdb4b61472e916558550adfb7420c548079e731"
  },
  "id": "zdB7kpng0tiH9v63",
  "tags": []
}